
# HTID:15974669: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15974669:

# HTID:18335248: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /shehwar http://shehwar.cf
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18335248:

# HTID:18335254: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /pakistan https://www.youtube.com/
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18335254:
